# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# git
alias a='git add'
alias d='git diff'
alias s='git status --short --branch'
alias g='git graph'

# grep
alias grep='grep --color=auto'

# less
alias less='less --tabs=4'

# ls
case "$OSTYPE" in
darwin*)
    alias ls='ls -G'
    ;;
linux*|msys)
    alias ls='ls --color'
    ;;
esac

alias l='ls -lF'
alias ll='ls -alF'

if command -v exa >/dev/null 2>&1; then
    alias exa='exa --classify --color=always --group --header --git --time-style long-iso'

    unalias l
    unalias ll
    alias l='exa --long'
    alias ll='exa --long --all'
fi

# ssh
alias ssh-silent='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR'
