#!/usr/bin/env bash

function prefer-abbrev-alias {
    if command -v abbrev-alias >/dev/null 2>&1; then
        abbrev-alias "$@"
    else
        alias "$@"
    fi
}

# cd
prefer-abbrev-alias ..=' cd ..'
prefer-abbrev-alias ...=' cd ../..'
prefer-abbrev-alias ....=' cd ../../..'
prefer-abbrev-alias .....=' cd ../../../..'
prefer-abbrev-alias ~=' cd ~'

# docker
if command -v docker-compose >/dev/null 2>&1; then
    prefer-abbrev-alias dc='docker-compose'
fi

# git
prefer-abbrev-alias g='git'
prefer-abbrev-alias a='git add'
prefer-abbrev-alias d='git diff'
prefer-abbrev-alias s=' git status --short --branch'
prefer-abbrev-alias gg=' git graph'
prefer-abbrev-alias gm='git merge --ff-only'

# grep
alias grep='grep --color=auto'

# less
alias less='less --tabs=4'

# ls
case "$OSTYPE" in
darwin*)
    alias ls='ls -G'
    ;;
linux*|msys)
    alias ls='ls --color'
    ;;
esac

if command -v exa >/dev/null 2>&1; then
    alias exa='exa --classify --color=always --group --header --git --time-style long-iso'

    prefer-abbrev-alias l=' exa --long'
    prefer-abbrev-alias ll=' exa --long --all'
else
    prefer-abbrev-alias l=' ls -lF'
    prefer-abbrev-alias ll=' ls -alF'
fi

# ssh
prefer-abbrev-alias ssh-silent=' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR'

# google
if command -v open >/dev/null 2>&1; then
    function google {
        open "https://google.co.jp/search?q=$*"
    }

    function eijiro {
        open "https://eow.alc.co.jp/search?q=$*"
    }
fi

# global abbrev-alias
if command -v abbrev-alias >/dev/null 2>&1; then
    abbrev-alias -g G='| grep --color=yes -Hn'
    abbrev-alias -g L='| less'
    abbrev-alias -g H='| head'
    abbrev-alias -g T='| tail'

    abbrev-alias -g X='| xargs'
    abbrev-alias -g X0='| xargs -0'
    abbrev-alias -g XG='| xargs grep --color=yes -Hn'
    abbrev-alias -g X0G='| xargs -0 grep --color=yes -Hn'

    abbrev-alias -g FF='find . -type f -name'
    abbrev-alias -g FD='find . -type d -name'
    abbrev-alias -g FG='find . -type d -name .git -prune -o -print'
    abbrev-alias -g FGN='find . -type d \( -name .git -o -name node_modules \) -prune -o -print'

    abbrev-alias -g F='| fzf'
    abbrev-alias -g FP="| fzf --preview='bat --color=always --style=numbers {}' --preview-window=down"

    abbrev-alias -g J='| jq .'

    abbrev-alias -g B='| bat --language=diff'

    if [[ "$OSTYPE" =~ ^darwin ]]; then
        abbrev-alias -g C='| pbcopy'
        abbrev-alias -g CC='| tee >(pbcopy)'
        abbrev-alias -g P='pbpaste'
    fi
fi
