[alias]
    amend = commit --amend -C HEAD
    graph = log --graph --color --all --date-order --decorate --oneline
    details = log --graph --color --all --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    overview = log --graph --color --all --date-order --decorate --stat --find-renames
[color]
    ui = auto
[core]
    editor = vi
    pager = less -x4
    quotepath = false
[diff "sjis"]
    textconv = nkf
