[alias]
    amend = commit --amend -C HEAD
    fixup = commit --fixup
    graph = log --graph --color --all --date-order --decorate --pretty=format:'%C(auto)%h %d %s %C(cyan bold)(%cr)%Creset'
    details = log --graph --color --all --date=iso --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    overview = log --graph --color --all --date=iso --date-order --decorate --stat --find-renames
[color]
    ui = auto
[core]
    editor = vi
    pager = less -x4
    quotepath = false
[diff "sjis"]
    textconv = nkf
[init]
    defaultBranch = main
[filter "lfs"]
    smudge = git-lfs smudge --skip -- %f
    process = git-lfs filter-process --skip
    required = true
    clean = git-lfs clean -- %f
