[alias]
    amend = commit --amend -C HEAD
    fixup = commit --fixup
    graph = log --graph --color --all --date-order --decorate --pretty=format:'%C(auto)%h %d %s %C(cyan bold)(%cr)%Creset'
    details = log --graph --color --all --date=iso --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    overview = log --graph --color --all --date=iso --date-order --decorate --stat --find-renames
[color]
    ui = auto
[core]
    editor = vim
    pager = less -x4
    quotepath = false
	autocrlf = input
[diff "sjis"]
    textconv = nkf
[init]
    defaultBranch = main
[filter "lfs"]
    smudge = git-lfs smudge --skip -- %f
    process = git-lfs filter-process --skip
    required = true
    clean = git-lfs clean -- %f
[merge "ours"]
    name = Keep ours merge
    driver = true
[pull]
    rebase = false
    ff = only
[secrets]
    providers = git secrets --aws-provider
    patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[merge]
    ff = false
[include]
    path = ~/.gitconfig.local
